@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;500;900&display=swap');

@mixin btn-style {
  margin-left: 5px;
  // min-width: 85px;
  cursor: pointer;
  color: #3f2e68;
  font-family: 'Archivo';
  font-weight: 600;
  font-size: 18px;
  background-color: #fff;
  border: 3px solid #fff;
  &:hover {
    opacity: 0.8;
  }
}

* {
  font-family: 'pretendard';
  text-decoration: none;
}
body {
    background-color: #3f2e68;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 880px;
  margin: 40px auto;
  .side {
    flex: 1;
    text-align: right;
    a {
      padding: 2px;
      color: #fff;
      font-size: 18px;
      &:hover {
        border-bottom: 3px solid #fff;
        font-weight: 600;
      }
    }
  }
  .title {
    display: block;
    flex: 2;
    color: #fff;
    font-size: 28px;
    text-align: left;
  }
}

.no-data {
  margin: 145px 0;
  display: block;
  text-align: center;
  font-family: 'Gowun Batang';
  font-size: 23px;
  color: #555;
  line-height: 38px;
}
.list-wrap {
  margin: 0 auto;
  display: block;
  max-width: 880px;
  overflow: hidden;
}
.watch-list {
  display: flex;
  margin: 10px auto;
  padding: 0 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 35px;
}
#view:checked + label + section > .watch-list {
  display: flex;
  width: max-content;
  flex-wrap: nowrap;
  padding: 16px 0;
  max-height: 300px;
  overflow: hidden;
  animation: leftright 7.5s ease-in-out infinite alternate;
  @keyframes leftright {
      0% {transform: translateX(15px)}
      100% {transform: translateX(calc(-100% + 840px));}
  }
  &:hover {
      animation-play-state: paused;
  };
  .movie-item {
      display: inline-block;
      padding: 0;
      width: 210px;
      height: 300px;
      background: none;
      .item-image {
        position: absolute;
        top: 0%;
        left: 0;
        width: 210px;
        opacity: 0.7;
        filter: grayscale(0%);
      }
      &:hover {
        transform: scale(1.1);
        border: 3px solid rgba(255, 255, 255, 0.75);
        .item-text-wrap {
          display: block;
          width: 210px;
          word-break: keep-all;
          line-height: 23px;
          background-color: rgba(255, 255, 255, 0.75);
          .item-content {
            display: none;
          }
        }
      };
  }
  .item-text-wrap {
      display: none;
  }
}

/* main */
#view:checked + .view-type-btn {
  span {
      transform: translateX(18px);
  }
}
.view-type-btn {
  cursor: pointer;
  display: block;
  align-items: center;
  margin: 30px auto;
  padding: 4px 4px;
  width: 46px;
  height: 28px;
  border-radius: 20px;
  background-color: #fff;
  box-sizing: border-box;
  opacity: 0.3;
  transform: scale(0.85);
  transition: all 0.3s;
  span {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #3f2e68;
    border-radius: 100%;
    transition: all 0.3s;
  }
  &:hover {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  &::before{
    content: 'Grid';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -35px;
    height: 28px;
    color: #fff;
    text-align: right;
    line-height: 28px;
  }
  &::after{
    content: 'Slide';
    display: inline-block;
    position: absolute;
    top: 0;
    right: -40px;
    height: 28px;
    color: #fff;
    line-height: 28px;
  }
}

.movie-item {
  position: relative;
  display: block;
  width: 263px;
  height: 160px;
  padding: 8px 15px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  transition: transform .3s;
  overflow: hidden;
  &:hover {
  transform: scale(1.1);
  };
  &:hover .item-image {
  filter: grayscale(0);
  };
  &:hover .item-rate {
  animation: rate .6s;
  };
}
// 별 모양 움직임
@keyframes rate {
  0% { opacity: 0; letter-spacing: -12px; }
  100% { letter-spacing: 0;}
}

.item-image {
  position: absolute;
  top: -50%;
  left: 0;
  width: 270px;
  opacity: 0.15;
  filter: grayscale(80%);
}

.item-text-wrap{
    position: absolute;
    top: 50%;
    width: 240px;
    z-index: 2;
    transform: translateY(-50%);
    .item-title {
      margin: 10px 0;
      text-align: center;
      font-size: 20px;
      font-weight: 800;
    }
    .item-rate {
        margin: 8px 0;
        display: block;
        text-align: center;
        font-weight: 700;
        color: crimson;
        font-size: 18px;
    }
    .item-content {
        margin: 16px 0;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        font-family: 'Gowun Batang', serif;
        white-space: nowrap;
        word-break: keep-all;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.page-option {
  margin: 36px auto;
  max-width: 880px;
  text-align: right;
}
.btn {
  @include btn-style;
}
.a-btn {
  padding: 1px 6px;
  @include btn-style;
}

/* form */
.form-container {
  max-width: 880px;
  height: 680px;
  margin: 12px auto;
  input, textarea {
    padding: 2px 5px;
    background: none;
    color: #fff;
    font-weight: 500;
    font-size: 26px;
    border: none;
    border-bottom: 2px solid #fff;
      &:focus{
        outline: none;
        border-bottom: 5px solid #fff;
      }
      &::placeholder{
        color: #fff;
        opacity: 0.9;
      }
    }
    #watchDate {
      &::-webkit-calendar-picker-indicator {
        filter: invert(1);
      }
    }
}

.form-style {
  .label-option {
    display: inline-block;
    margin-right: 8px;
    width: 66px;
    color: #fff;
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
  }
}

/* write */
.title-head-wrap {
  padding: 28px;
  width: 100%;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  .title-msg {
    display: block;
    font-weight: 500;
    font-size: 25px;
    color: #fff;
  }
  .search-btn {
    cursor: pointer;
    display: inline-block;
    width: 36px;
    height: 36px;
    background-image: url('../assets/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    border: none;
  }
  .selected-img-place {
    display: block;
    float: right;
    .selected-movie-img {
      width: 90px;
    }
  }
}

.rate-wrap{
  display: flex;
  .rate-btn {
    display: flex;
    gap: 10px;
    input {
      &:checked + label {
        color: #3f2e68;
        background-color: #fff;
      }
    }
    label {
      cursor: pointer;
      padding: 2px 7px;
      min-width: 26px;
      height: 21px;
      line-height: 21px;
      color: #fff;
      font-size: 19px;
      text-align: center;
      border: 2px solid #fff;
      border-radius: 15px;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
.comment-wrap {
  margin: 36px 0;
  display: flex;
  textarea {
    font-size: 23px;
    width: 90%;
  }
}
.watch-wrap {
  display: flex;
  align-items: center;
  input {
    font-size: 23px;
  }
}


/* imagelink-list */
.imagelink-list {
  margin: 15px 0;
  padding: 10px 10px;
  max-height: 115px;
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 10px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    &:hover{
      background-color: #fff;
    }
  }
  ul {
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.imagelink-list input:checked + label::after {
  position: absolute;
  top: -10px;
  left: -10px;
  content: '✔';
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  width: 24px;
  height: 24px;
  color: #fff;
  border-radius: 100%;
  background-color: #3f2e68;
}
.imagelink-list label {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 10px 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  background-color: #ffffff5d;
  border-radius: 10px;
  transition: border .3s;
}
.imagelink-list label:hover,
.imagelink-list input:checked + label {
  background-color: #f1f1f1;
}

.submit-container{
  display: block;
  margin-top: 30px;
  text-align: right;
}

/* postdetail */
.post-cont {
  max-width: 880px;
  margin: 12px auto;
}
.post-head {
  position: relative;
}
.post-title {
  display: block;
  margin-bottom: 13px;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.post-rate {
  color: crimson;
  font-size: 24px;
}
.post-watchdate {
  display: block;
  position: absolute;
  bottom: 28px;
  color: #c2c2c2;
  font-size: 16px;
}
.post-writedate {
  display: block;
  margin: 10px 0;
  text-align: right;
  color: #c2c2c2;
  font-size: 16px;
}
.post-content {
  padding: 28px;
  min-height: 190px;
  background-color: rgba(255, 255, 255, 0.65);
  font-size: 23px;
  font-family: 'Gowun Batang', serif;
  box-sizing: border-box;
}

/* del */
.del-form-style {
  margin: 0 auto;
  display: block;
  position: relative;
  max-width: 880px;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
.del-msg {
  margin: 20px 0;
  color: #fff;
  font-size: 27px;
}

@media (max-width: 640px) {
  .post-cont {
    width: 92vw;
  }
}