@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200;500;900&display=swap");
* {
  font-family: 'pretendard';
  text-decoration: none;
}

body {
  background-color: #3f2e68;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 880px;
  margin: 40px auto;
}

.nav .side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.nav .side a {
  padding: 2px;
  color: #fff;
  font-size: 18px;
}

.nav .side a:hover {
  border-bottom: 3px solid #fff;
  font-weight: 600;
}

.nav .title {
  display: block;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  color: #fff;
  font-size: 28px;
  text-align: left;
}

.no-data {
  margin: 145px 0;
  display: block;
  text-align: center;
  font-family: 'Gowun Batang';
  font-size: 23px;
  color: #555;
  line-height: 38px;
}

.list-wrap {
  margin: 0 auto;
  display: block;
  max-width: 880px;
  overflow: hidden;
}

.watch-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  padding: 0 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px;
}

#view:checked + label + section > .watch-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 16px 0;
  max-height: 300px;
  overflow: hidden;
  -webkit-animation: leftright 7.5s ease-in-out infinite alternate;
          animation: leftright 7.5s ease-in-out infinite alternate;
}

@-webkit-keyframes leftright {
  0% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  100% {
    -webkit-transform: translateX(calc(-100% + 840px));
            transform: translateX(calc(-100% + 840px));
  }
}

@keyframes leftright {
  0% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  100% {
    -webkit-transform: translateX(calc(-100% + 840px));
            transform: translateX(calc(-100% + 840px));
  }
}

#view:checked + label + section > .watch-list:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

#view:checked + label + section > .watch-list .movie-item {
  display: inline-block;
  padding: 0;
  width: 210px;
  height: 300px;
  background: none;
}

#view:checked + label + section > .watch-list .movie-item .item-image {
  position: absolute;
  top: 0%;
  left: 0;
  width: 210px;
  opacity: 0.7;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

#view:checked + label + section > .watch-list .movie-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 3px solid rgba(255, 255, 255, 0.75);
}

#view:checked + label + section > .watch-list .movie-item:hover .item-text-wrap {
  display: block;
  width: 210px;
  word-break: keep-all;
  line-height: 23px;
  background-color: rgba(255, 255, 255, 0.75);
}

#view:checked + label + section > .watch-list .movie-item:hover .item-text-wrap .item-content {
  display: none;
}

#view:checked + label + section > .watch-list .item-text-wrap {
  display: none;
}

/* main */
#view:checked + .view-type-btn span {
  -webkit-transform: translateX(18px);
          transform: translateX(18px);
}

.view-type-btn {
  cursor: pointer;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto;
  padding: 4px 4px;
  width: 46px;
  height: 28px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0.3;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.view-type-btn span {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #3f2e68;
  border-radius: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.view-type-btn:hover {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1);
}

.view-type-btn::before {
  content: 'Grid';
  display: inline-block;
  position: absolute;
  top: 0;
  left: -35px;
  height: 28px;
  color: #fff;
  text-align: right;
  line-height: 28px;
}

.view-type-btn::after {
  content: 'Slide';
  display: inline-block;
  position: absolute;
  top: 0;
  right: -40px;
  height: 28px;
  color: #fff;
  line-height: 28px;
}

.movie-item {
  position: relative;
  display: block;
  width: 263px;
  height: 160px;
  padding: 8px 15px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  overflow: hidden;
}

.movie-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.movie-item:hover .item-image {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.movie-item:hover .item-rate {
  -webkit-animation: rate .6s;
          animation: rate .6s;
}

@-webkit-keyframes rate {
  0% {
    opacity: 0;
    letter-spacing: -12px;
  }
  100% {
    letter-spacing: 0;
  }
}

@keyframes rate {
  0% {
    opacity: 0;
    letter-spacing: -12px;
  }
  100% {
    letter-spacing: 0;
  }
}

.item-image {
  position: absolute;
  top: -50%;
  left: 0;
  width: 270px;
  opacity: 0.15;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

.item-text-wrap {
  position: absolute;
  top: 50%;
  width: 240px;
  z-index: 2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.item-text-wrap .item-title {
  margin: 10px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}

.item-text-wrap .item-rate {
  margin: 8px 0;
  display: block;
  text-align: center;
  font-weight: 700;
  color: crimson;
  font-size: 18px;
}

.item-text-wrap .item-content {
  margin: 16px 0;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-family: 'Gowun Batang', serif;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-option {
  margin: 36px auto;
  max-width: 880px;
  text-align: right;
}

.btn {
  margin-left: 5px;
  min-width: 85px;
  cursor: pointer;
  color: #3f2e68;
  font-family: 'Archivo';
  font-weight: 600;
  font-size: 18px;
  background-color: #fff;
  border: 3px solid #fff;
}

.btn:hover {
  opacity: 0.8;
}

.a-btn {
  padding: 1px 6px;
  margin-left: 5px;
  min-width: 85px;
  cursor: pointer;
  color: #3f2e68;
  font-family: 'Archivo';
  font-weight: 600;
  font-size: 18px;
  background-color: #fff;
  border: 3px solid #fff;
}

.a-btn:hover {
  opacity: 0.8;
}

/* form */
.form-container {
  max-width: 880px;
  height: 680px;
  margin: 12px auto;
}

.form-container input, .form-container textarea {
  padding: 2px 5px;
  background: none;
  color: #fff;
  font-weight: 500;
  font-size: 26px;
  border: none;
  border-bottom: 2px solid #fff;
}

.form-container input:focus, .form-container textarea:focus {
  outline: none;
  border-bottom: 5px solid #fff;
}

.form-container input::-webkit-input-placeholder, .form-container textarea::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.9;
}

.form-container input:-ms-input-placeholder, .form-container textarea:-ms-input-placeholder {
  color: #fff;
  opacity: 0.9;
}

.form-container input::-ms-input-placeholder, .form-container textarea::-ms-input-placeholder {
  color: #fff;
  opacity: 0.9;
}

.form-container input::placeholder, .form-container textarea::placeholder {
  color: #fff;
  opacity: 0.9;
}

.form-container #watchDate::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.form-style .label-option {
  display: inline-block;
  margin-right: 8px;
  width: 66px;
  color: #fff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
}

/* write */
.title-head-wrap {
  padding: 28px;
  width: 100%;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title-head-wrap .title-msg {
  display: block;
  font-weight: 500;
  font-size: 25px;
  color: #fff;
}

.title-head-wrap .search-btn {
  cursor: pointer;
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url("../assets/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  border: none;
}

.title-head-wrap .selected-img-place {
  display: block;
  float: right;
}

.title-head-wrap .selected-img-place .selected-movie-img {
  width: 90px;
}

.rate-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rate-wrap .rate-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.rate-wrap .rate-btn input:checked + label {
  color: #3f2e68;
  background-color: #fff;
}

.rate-wrap .rate-btn label {
  cursor: pointer;
  padding: 2px 7px;
  min-width: 26px;
  height: 21px;
  line-height: 21px;
  color: #fff;
  font-size: 19px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 15px;
}

.rate-wrap .rate-btn label:hover {
  opacity: 0.9;
}

.comment-wrap {
  margin: 36px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-wrap textarea {
  font-size: 23px;
  width: 90%;
}

.watch-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.watch-wrap input {
  font-size: 23px;
}

/* imagelink-list */
.imagelink-list {
  margin: 15px 0;
  padding: 10px 10px;
  max-height: 115px;
  overflow-x: auto;
}

.imagelink-list::-webkit-scrollbar {
  height: 10px;
  background-color: transparent;
}

.imagelink-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
}

.imagelink-list::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}

.imagelink-list ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}

.imagelink-list input:checked + label::after {
  position: absolute;
  top: -10px;
  left: -10px;
  content: '✔';
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  width: 24px;
  height: 24px;
  color: #fff;
  border-radius: 100%;
  background-color: #3f2e68;
}

.imagelink-list label {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 10px 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  background-color: #ffffff5d;
  border-radius: 10px;
  -webkit-transition: border .3s;
  transition: border .3s;
}

.imagelink-list label:hover,
.imagelink-list input:checked + label {
  background-color: #f1f1f1;
}

.submit-container {
  display: block;
  margin-top: 30px;
  text-align: right;
}

/* postdetail */
.post-cont {
  max-width: 880px;
  margin: 12px auto;
}

.post-head {
  position: relative;
}

.post-title {
  display: block;
  margin-bottom: 13px;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.post-rate {
  color: crimson;
  font-size: 24px;
}

.post-watchdate {
  display: block;
  position: absolute;
  bottom: 28px;
  color: #c2c2c2;
  font-size: 16px;
}

.post-writedate {
  display: block;
  margin: 10px 0;
  text-align: right;
  color: #c2c2c2;
  font-size: 16px;
}

.post-content {
  padding: 28px;
  min-height: 190px;
  background-color: rgba(255, 255, 255, 0.65);
  font-size: 23px;
  font-family: 'Gowun Batang', serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* del */
.del-form-style {
  margin: 0 auto;
  display: block;
  position: relative;
  max-width: 880px;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.del-msg {
  margin: 20px 0;
  color: #fff;
  font-size: 27px;
}

/* 검색 페이지 */
.form-style .result-amount {
  display: block;
  margin: 13px 0;
  color: #fff;
  font-size: 18px;
}

.result-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.result-view .search-page-item {
  padding: 19px;
  background-color: rgba(255, 255, 255, 0.8);
}

.result-view .search-page-item:first-child {
  margin-top: 15px;
}

.result-view .search-page-item:last-child {
  margin-bottom: 25px;
}

.result-view .search-page-item p {
  display: block;
  margin-bottom: 4px;
  line-height: 24px;
}

.result-view .search-page-item p strong {
  font-size: 27px;
  font-weight: 700;
}

.result-view .search-page-item p i {
  opacity: 0.8;
}

.result-view .search-page-item img {
  float: right;
  width: 100px;
}

.result-view .search-page-item .detail-list {
  line-height: 24px;
}

.result-view .search-page-item .detail-list dt {
  margin-right: 6px;
  float: left;
  font-weight: 600;
}

.result-view .search-page-item .detail-list .result-rating::before {
  display: inline;
  content: "★";
  color: crimson;
}

.result-view .search-page-item .detail-list .result-pubdate::after {
  display: inline;
  content: "년";
}

@media (max-width: 640px) {
  .post-cont {
    width: 92vw;
  }
}
/*# sourceMappingURL=style.css.map */