<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="Content-Security-Policy" content="default-src *;
   img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
   style-src  'self' 'unsafe-inline' *">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>영화 기록 남기기</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/reset.css" rel="stylesheet" />
</head>

<body>
    <!-- Navigation-->
    <!-- Page Header-->
    <main class="main-container">
        <h1 class="main-title">
            <a href="/movie">My Record of <strong>Movie</strong></a>
        </h1>
        <!-- Main Content-->
        {% block content %}
        {% endblock %}
        <!-- Footer-->
        <!-- Core theme JS-->
    </main>
    
    <script src="js/scripts.js"></script>
<!-- <textarea>Next, use our Get Started docs to setup Tiny!</textarea>
    
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script> -->
</body>

</html>