{% extends 'base.html' %}

{% block content %}
    <form class="write-form" action="?_method=PUT" method="post">
        <label for="title">영화명</label>
        <input type="text" id="title" name="title" value="{{movie.title}}"><br>
        <label for="section">평점</label>
        <input type="number" id="rating" name="rating" min="1" max="5" value={{movie.rating}}><br>
        <label for="content">간단평</label>
        <textarea type="text" id="content" name="content">{{movie.content}}</textarea><br>
        <label for="section">감상일</label>
        <input type="date" id="watchDate" name="watchDate" value={{ movie.watchDate | date("YYYY-MM-DD") }}><br>
        <button type="submit" class="btn btn-submit">작성</button>
    </form>
{% endblock %}