{% extends 'base.html' %}

{% block content %}
<section class="form-container">
    <form class="form-style" action="?_method=PUT" method="post">
    <article class="title-head-wrap">
        <label for="title" hidden>영화명</label>
        <div class="selected-img-place">
            <img src="{{movie.imagelink}}" alt="선택된 영화 이미지" class="selected-movie-img">
        </div>
        <input
            type="text"
            id="title"
            name="title"
            placeholder="리뷰할 영화명을 입력해주세요."
            autocomplete="off"
            value="{{movie.title}}"
            required>
        <button type="button" class="search-btn"></button>
    </article>

    <article class="imagelink-list">
        <ul>
        </ul>
    </article>
    <label for="imagelink" hidden>이미지</label>
    <input type="text" id="imagelink" name="imagelink" value="{{movie.imagelink}}" hidden><br>

    <article class="rate-wrap">
        <label for="section" class="label-option">평점</label>
        <article class="rate-btn">
            <input type="radio" name="rate" id="rate1" hidden>
            <label for="rate1" data-rate="1">★</label>
            <input type="radio" name="rate" id="rate2" hidden>
            <label for="rate2" data-rate="2">★★</label>
            <input type="radio" name="rate" id="rate3" hidden>
            <label for="rate3" data-rate="3">★★★</label>
            <input type="radio" name="rate" id="rate4" hidden>
            <label for="rate4" data-rate="4">★★★★</label>
            <input type="radio" name="rate" id="rate5" hidden>
            <label for="rate5" data-rate="5">★★★★★</label>
        </article>
        <input type="number" id="rating" name="rating" min="1" max="5" value="{{movie.rating}}" required hidden>
    </article>
    <article class="comment-wrap">
        <label for="content" class="label-option">간단평</label>
        <textarea type="text" id="content" name="content" required>{{movie.content}}</textarea>
    </article>
    <article class="watch-wrap">
        <label for="section" class="label-option">감상일</label>
        <input type="date" id="watchDate" name="watchDate" value={{ movie.watchDate | date("YYYY-MM-DD") }} required>
    </article>
    <article class="submit-container">
        <button type="submit" class="btn">SUBMIT</button>
    </article>
</section>
{% endblock %}