{% extends 'base.html' %}

{% block content %}

    <section class="watchlist">
    {% for i in data %}
        <a href="/movie/{{ i.id }}" class="movie-item">
            <img src="#" alt={{ i.title }}>
            <h2 class="item-title">{{ i.title }}</h2>
            <span class="item-rate">{{ "★".repeat(i.rating) }}</span>
            <p class="item-content">{{ i.content }}</p>
        </a>
    {% endfor %}
    </section>
    <!-- Pager-->
    <div class="pager">
        <a class="btn" href="/movie/write">글쓰기</a>
    </div>

{% endblock %}