{% extends 'base.html' %}

{% block content %}
<section class="post-cont">
    <article class="title-head-wrap post-head">
        <article class="selected-img-place">
            <img src="{{movie.imagelink}}" class="selected-movie-img">
        </article>
        <h2 class="post-title">
            {{ movie.title }}
        </h2>
        <span class="post-rate">{{ "★".repeat(movie.rating) }}</span>
        <span class="post-watchdate"><strong>감상일</strong> {{ movie.watchDate | date("YYYY년 M월 D일")}}</span>
    </article>

    <p class="post-content">{{ movie.content }}</p>
    <span class="post-writedate">
        <strong>작성일</strong> {{ movie.pubDate | date("YYYY년 M월 D일")}}
    </span>
</section>
<footer class="page-option">
    <a class="a-btn" href="edit/{{ movie._id }}">EDIT</a>
    <a class="a-btn" href="del/{{ movie._id }}">DELETE</a>
</footer>

{% endblock %}