{% extends 'base.html' %}

{% block content %}
<section class="searchpage-container">
    <div class="searchform-style">
        <article class="title-head-wrap">
            <label for="title" hidden>영화명</label>
            <input
                type="text"
                id="titleInput"
                name="title"
                placeholder="영화명을 입력해주세요."
                autocomplete="off"
                required
            >
            <button type="button" id="serachPageBtn"></button>
            <span class="result-amount"></span>
        </article>
    
        <ul class="result-view">
        </ul>

    </div> 
</section>
{% endblock %}